In [100]:
import requests

In [101]:
from bs4 import BeautifulSoup

In [102]:
'''
Get the page from the website and return the first 500 words of text
'''
url = 'https://buy.cars45.com/cars&filter=&year_from=1980&year_to=2019'
response = requests.get(url)
print(response.text[:500])

<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
  <!-- <meta http-equiv="Cache-control" content="public"> -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-sc

In [103]:
soup = BeautifulSoup(response.text, 'html.parser')

In [104]:
'''
Check and find within the soup of text generated by beautifulsoup from the website and return all divs with a class=product_box
'''
indi_car = soup.find_all('div', {'class':"product_box"})

In [147]:
# Looking at the first texts of the divs extracted from the soup.
indi_car[31].text

'\n\n\n\nD\n\n\n\n\n                                        2007 Lexus Rx 350\n                                        \n\n\n\n\nNigerian Used\n\n                                                                              ₦ 1,661,000\n                                                                                \n                                    \n\n\n\nMileage:  180,329 Km\n\n\nYear: 2007\n\n\nCar ID: NG-445801\n\n\n\n\n\n\n\n\n\n\n\n\n                                                                                Kaduna SNB\n                                                                                \n                                      \n\n\n'

In [148]:
# Looking at the a-tag and extracting the links from the href of the divs extracted from the soup.
indi_car[31].a.attrs['href']

'https://buy.cars45.com/cars/lexus-rx-350-2007-automatic-ng-445801?filter='

In [149]:
'''
Check the text content, find and strip all spaces and replace with a pipe(|) apply to text and split by the pipe. 
'''

x = indi_car[31].text
import re
pattern = re.compile(r'\s+')
sentence = re.sub(pattern, '|', x)
pat = sentence.split('|')
pat = [line.strip() for line in pat]

In [150]:
pat

['',
 'D',
 '2007',
 'Lexus',
 'Rx',
 '350',
 'Nigerian',
 'Used',
 '₦',
 '1,661,000',
 'Mileage:',
 '180,329',
 'Km',
 'Year:',
 '2007',
 'Car',
 'ID:',
 'NG-445801',
 'Kaduna',
 'SNB',
 '']

In [49]:
# if 'New' in pat:
#     print('yes')
# else:
#     print('No')

yes

In [53]:
# grade = pat[1]
# car_make = ' '.join(pat[2:5])
# car_use_cond = pat[5]
# # use_location = ' '.join(pat[5:7])
# price = pat[7]
# mileage = pat[9]
# year = pat[12]
# car_id = pat[15]
# car_location =' '.join(pat[16:19])

In [62]:
# car_location

'SUZUKI Special Centre'

In [50]:
'''
Check the generated strings with the pattern list, and if you find the string 'New', use the first conditions, else use the second condition
The first condition is New, while the other condition is Nigerian Used or Foreign used
'''
car_link = indi_car[0].a.attrs['href']
if 'New' in pat:
    grade = pat[1]
    car_make = ' '.join(pat[2:5])
    car_use_cond = pat[5]
    price = pat[7]
    mileage = pat[9]
    year = pat[12]
    car_id = pat[15]
    car_location =' '.join(pat[16:19])
else:
    grade = pat[1]
    car_make = ' '.join(pat[2:5])
    car_use_cond = ' '.join(pat[5:7])
    price = pat[8]
    mileage = pat[10]
    year = pat[13]
    car_id = pat[16]
    car_location =' '.join(pat[17:19])

In [90]:
url = indi_car[0].a.attrs['href']
response = requests.get(url)
indi_car_soup = BeautifulSoup(response.text,'html.parser')

In [91]:
indi_car = indi_car_soup.find_all('div',{'class' :"row"} )

In [92]:
indi_car[2].text

'\n\n\n\n\n\n\n                                                            Hatchback\n                                                                                                                    \n\n\n\n\n\n\n\n\n\n                                                         Petrol\n                                                    \n\n\n\n\n\n\n\n\n\n                                                        automatic\n                                                    \n\n\n\n\n\n\n\n\n\n\n'

In [93]:
x = indi_car[2].text
import re
pattern = re.compile(r'\s+')
sentence = re.sub(pattern, '|', x)
pat = sentence.split('|')
pat = [line.strip() for line in pat]

In [98]:
gear_type = pat[3]
fuel_type = pat[2]
vehicle_type = pat[1]

In [87]:
# grade = pat[1]
# car_make = ' '.join(pat[2:5])
# car_use_cond = ' '.join(pat[5:7])
# price = pat[8]
# mileage = pat[10]
# year = pat[13]
# car_id = pat[16]
# car_location =' '.join(pat[17:19])

In [88]:
car_location

'Mainland 2'

In [89]:
# print(grade,car_make,car_cond,price,mileage,year,car_id,car_location)

E 2003 Honda Pilot New 946,000 168,436 2003 NG-445844 Mainland 2

In [ ]:
# ,use_location

In [134]:
grades = []
car_makes = []
car_use_conds = []
prices = []
mileages = []
years = []
car_ids = []
car_locations = []
indi_car_links = []

for each in indi_car:
    car_link = each.a.attrs['href']
    
    x = each.text
    import re
    pattern = re.compile(r'\s+')
    sentence = re.sub(pattern, '|', x)
    pat = sentence.split('|')
    pat = [line.strip() for line in pat]
    
    if 'New' in pat:
        grade = pat[1]
        car_make = ' '.join(pat[2:5])
        car_use_cond = pat[5]
        price = pat[7]
        mileage = pat[9]
        year = pat[12]
        car_id = pat[15]
        car_location =' '.join(pat[16:19])
    else:
        grade = pat[1]
        car_make = ' '.join(pat[2:5])
        car_use_cond = ' '.join(pat[5:7])
        price = pat[8]
        mileage = pat[10]
        year = pat[13]
        car_id = pat[16]
        car_location =' '.join(pat[17:19])
        
    grades.append(grade) 
    car_makes.append(car_make) 
    car_use_conds.append(car_use_cond)
    prices.append(price)
    mileages.append(mileage)
    years.append(year)
    car_ids.append(car_id)
    car_locations.append(car_location)
    indi_car_links.append(car_link)

In [135]:
car_use_conds

['New',
 'Nigerian Used',
 'Nigerian Used',
 '300 Nigerian',
 'Foreign Used',
 'Nigerian Used',
 'Foreign Used',
 'Nigerian Used',
 'Nigerian Used',
 'Nigerian Used',
 'Foreign Used',
 'Foreign Used',
 'Nigerian Used',
 'Nigerian Used',
 'Nigerian Used',
 'Foreign Used',
 'Nigerian Used',
 'Foreign Used',
 'Nigerian Used',
 'Nigerian Used',
 'Nigerian Used',
 'Foreign Used',
 'Nigerian Used',
 'Nigerian Used',
 'Foreign Used',
 'Nigerian Used',
 'Accord Nigerian',
 'Nigerian Used',
 'Nigerian Used',
 'Nigerian Used',
 'Nigerian Used',
 '350 Nigerian',
 'Nigerian Used',
 'Nigerian Used',
 'Foreign Used',
 'Nigerian Used',
 'Nigerian Used',
 'Nigerian Used',
 'Nigerian Used',
 'Foreign Used',
 'Foreign Used',
 'Nigerian Used',
 'Nigerian Used',
 'Foreign Used',
 'Nigerian Used',
 'Nigerian Used',
 'Nigerian Used',
 'Nigerian Used',
 'Nigerian Used',
 'Nigerian Used',
 'Nigerian Used',
 'Nigerian Used',
 'Nigerian Used',
 'Nigerian Used',
 'Nigerian Used',
 'Nigerian Used',
 'Foreign Used',
 'Nigerian Used',
 'Nigerian Used',
 'Nigerian Used']

In [136]:
prices[26]

'₦'

In [137]:
import pandas as pd

In [138]:
cars45 = pd.DataFrame({'grade': grades,
'car_make': car_makes,
'car_use_cond': car_use_conds,
'price': prices,
'mileage': mileages,
'year':years,
'car_id':car_ids,
'car_location':car_locations,
'indi_car_link':indi_car_links
                       
})
print(cars45.info())
cars45.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 9 columns):
grade            60 non-null object
car_make         60 non-null object
car_use_cond     60 non-null object
price            60 non-null object
mileage          60 non-null object
year             60 non-null object
car_id           60 non-null object
car_location     60 non-null object
indi_car_link    60 non-null object
dtypes: object(9)
memory usage: 4.3+ KB
None

,grade,car_make,car_use_cond,price,mileage,year,car_id,car_location,indi_car_link
0,A,Suzuki Baleno 2019,New,"7,300,000",1,2019,NG-441662,SUZUKI Special Centre,https://buy.cars45.com/cars/suzuki-baleno-2019...
1,E,1997 Volkswagen Golf,Nigerian Used,"451,000",1,1997,NG-445897,Mainland 2,https://buy.cars45.com/cars/volkswagen-golf-19...
2,C,2008 Toyota Highlander,Nigerian Used,"3,861,000","105,087",2008,NG-445833,Mainland 1,https://buy.cars45.com/cars/toyota-highlander-...
3,D,1999 Lexus Rx,300 Nigerian,₦,Mileage:,Year:,ID:,NG-445684 Island,https://buy.cars45.com/cars/lexus-rx-300-1999-...
4,C,2010 Nissan Murano,Foreign Used,"1,771,000","171,469",2010,NG-445621,Island -,https://buy.cars45.com/cars/nissan-murano-2010...
5,E,2003 Honda Pilot,Nigerian Used,"946,000","168,436",2003,NG-445844,Mainland 2,https://buy.cars45.com/cars/honda-pilot-2003-a...
6,E,2010 Mercedes-Benz E350,Foreign Used,"3,861,000","124,858",2010,NG-445785,Mainland 1,https://buy.cars45.com/cars/mercedes-benz-e350...
7,D,2010 Toyota Camry,Nigerian Used,"1,331,000","79,809",2010,NG-445836,Island -,https://buy.cars45.com/cars/toyota-camry-2010-...
8,C,2002 Toyota Camry,Nigerian Used,"1,001,000","112,517",2002,NG-445864,Mainland 2,https://buy.cars45.com/cars/toyota-camry-2002-...
9,D,2002 Ford Explorer,Nigerian Used,"451,000","150,412",2002,NG-445841,Mainland 2,https://buy.cars45.com/cars/ford-explorer-2002...

In [139]:
cars45

,grade,car_make,car_use_cond,price,mileage,year,car_id,car_location,indi_car_link
0,A,Suzuki Baleno 2019,New,"7,300,000",1,2019,NG-441662,SUZUKI Special Centre,https://buy.cars45.com/cars/suzuki-baleno-2019...
1,E,1997 Volkswagen Golf,Nigerian Used,"451,000",1,1997,NG-445897,Mainland 2,https://buy.cars45.com/cars/volkswagen-golf-19...
2,C,2008 Toyota Highlander,Nigerian Used,"3,861,000","105,087",2008,NG-445833,Mainland 1,https://buy.cars45.com/cars/toyota-highlander-...
3,D,1999 Lexus Rx,300 Nigerian,₦,Mileage:,Year:,ID:,NG-445684 Island,https://buy.cars45.com/cars/lexus-rx-300-1999-...
4,C,2010 Nissan Murano,Foreign Used,"1,771,000","171,469",2010,NG-445621,Island -,https://buy.cars45.com/cars/nissan-murano-2010...
5,E,2003 Honda Pilot,Nigerian Used,"946,000","168,436",2003,NG-445844,Mainland 2,https://buy.cars45.com/cars/honda-pilot-2003-a...
6,E,2010 Mercedes-Benz E350,Foreign Used,"3,861,000","124,858",2010,NG-445785,Mainland 1,https://buy.cars45.com/cars/mercedes-benz-e350...
7,D,2010 Toyota Camry,Nigerian Used,"1,331,000","79,809",2010,NG-445836,Island -,https://buy.cars45.com/cars/toyota-camry-2010-...
8,C,2002 Toyota Camry,Nigerian Used,"1,001,000","112,517",2002,NG-445864,Mainland 2,https://buy.cars45.com/cars/toyota-camry-2002-...
9,D,2002 Ford Explorer,Nigerian Used,"451,000","150,412",2002,NG-445841,Mainland 2,https://buy.cars45.com/cars/ford-explorer-2002...
10,C,2010 Toyota Corolla,Foreign Used,"2,211,000","87,321",2010,NG-445750,Mainland 2,https://buy.cars45.com/cars/toyota-corolla-201...
11,D,2005 Honda Odyssey,Foreign Used,"891,000","219,998",2005,NG-445849,Mainland 2,https://buy.cars45.com/cars/honda-odyssey-2005...
12,C,2007 Toyota Camry,Nigerian Used,"1,221,000","141,717",2007,NG-445815,Mainland 1,https://buy.cars45.com/cars/toyota-camry-2007-...
13,C,2006 Hyundai Sonata,Nigerian Used,"1,276,000","49,832",2006,NG-445386,Mainland 1,https://buy.cars45.com/cars/hyundai-sonata-200...
14,D,1996 Volkswagen Golf,Nigerian Used,"781,000",1996,NG-445806,SNB,", Abuja",https://buy.cars45.com/cars/volkswagen-golf-19...
15,D,2017 Honda Accord,Foreign Used,"6,611,000","68,624",2017,NG-445851,Kano -,https://buy.cars45.com/cars/honda-accord-2017-...
16,E,1998 Honda Accord,Nigerian Used,"616,000","217,435",1998,NG-445872,Island -,https://buy.cars45.com/cars/honda-accord-1998-...
17,C,2007 Infiniti G35,Foreign Used,"1,771,000","207,602",2007,NG-445615,Mainland 2,https://buy.cars45.com/cars/infiniti-g35-2007-...
18,E,1997 Toyota Tacoma,Nigerian Used,"1,331,000","249,732",1997,NG-445598,Island -,https://buy.cars45.com/cars/toyota-tacoma-1997...
19,D,2000 Nissan Pathfinder,Nigerian Used,"671,000","225,643",2000,NG-445711,Mainland 1,https://buy.cars45.com/cars/nissan-pathfinder-...
20,E,2001 Toyota Sienna,Nigerian Used,"561,000","179,240",2001,NG-445528,Port Harcourt,https://buy.cars45.com/cars/toyota-sienna-2001...
21,D,2005 Honda Accord,Foreign Used,"1,111,000","192,518",2005,NG-445832,Mainland 2,https://buy.cars45.com/cars/honda-accord-2005-...
22,C,2011 Mercedes-Benz E350,Nigerian Used,"4,631,000","77,671",2011,NG-445859,Mainland 2,https://buy.cars45.com/cars/mercedes-benz-e350...
23,D,2005 Lexus Gx,Nigerian Used,"1,771,000","151,405",2005,NG-445789,Port Harcourt,https://buy.cars45.com/cars/lexus-gx-2005-auto...
24,C,2008 Toyota Rav4,Foreign Used,"2,871,000","205,969",2008,NG-445431,Mainland 1,https://buy.cars45.com/cars/toyota-rav4-2008-a...
25,D,2005 Infiniti Fx,Nigerian Used,"1,551,000","100,868",2005,NG-445742,Mainland 2,https://buy.cars45.com/cars/infiniti-fx-2005-a...
26,Sold,E 2003 Honda,Accord Nigerian,₦,Mileage:,Year:,ID:,NG-445776 Mainland,https://buy.cars45.com/cars/honda-accord-2003-...
27,E,2008 Hyundai Tucson,Nigerian Used,"781,000","121,507",2008,NG-445641,Mainland 1,https://buy.cars45.com/cars/hyundai-tucson-200...
28,C,2007 Mazda Cx-7,Nigerian Used,"1,221,000","139,868",2007,NG-445697,Port Harcourt,https://buy.cars45.com/cars/mazda-cx-7-2007-au...
29,C,2004 Toyota Sequoia,Nigerian Used,"671,000","243,468",2004,NG-445591,Island -,https://buy.cars45.com/cars/toyota-sequoia-200...
30,E,2003 Acura Mdx,Nigerian Used,"561,000","219,410",2003,NG-445768,Onitsha -,https://buy.cars45.com/cars/acura-mdx-2003-aut...
31,D,2007 Lexus Rx,350 Nigerian,₦,Mileage:,Year:,ID:,NG-445801 Kaduna,https://buy.cars45.com/cars/lexus-rx-350-2007-...
32,E,2001 Toyota Camry,Nigerian Used,"616,000","193,636",2001,NG-445508,Mainland 2,https://buy.cars45.com/cars/toyota-camry-2001-...
33,D,2009 Ford Ranger,Nigerian Used,"1,221,000","263,642",2009,NG-445574,Port Harcourt,https://buy.cars45.com/cars/ford-ranger-2009-a...
34,C,2013 Toyota Corolla,Foreign Used,"3,311,000","66,931",2013,NG-445862,Abuja -,https://buy.cars45.com/cars/toyota-corolla-201...
35,D,2005 Toyota Camry,Nigerian Used,"1,001,000","162,441",2005,NG-445620,Island -,https://buy.cars45.com/cars/toyota-camry-2005-...
36,C,2002 Peugeot 607,Nigerian Used,"561,000","347,993",2002,NG-445583,Abuja -,https://buy.cars45.com/cars/peugeot-607-2002-n...
37,D,1998 Honda Accord,Nigerian Used,"286,000","137,097",1998,NG-445707,Mainland 1,https://buy.cars45.com/cars/honda-accord-1998-...
38,E,2003 Honda Accord,Nigerian Used,"451,000","232,983",2003,NG-445467,Ibadan -,https://buy.cars45.com/cars/honda-accord-2003-...
39,E,2005 Toyota 4Runner,Foreign Used,"3,091,000","93,237",2005,NG-445618,Ibadan -,https://buy.cars45.com/cars/toyota-4runner-200...
40,C,2013 Ford Edge,Foreign Used,"3,861,000","92,683",2013,NG-445861,Mainland 1,https://buy.cars45.com/cars/ford-edge-2013-aut...
41,D,2005 Nissan Pathfinder,Nigerian Used,"1,551,000","112,666",2005,NG-445682,Mainland 1,https://buy.cars45.com/cars/nissan-pathfinder-...
42,C,2012 Ford Focus,Nigerian Used,"1,441,000","124,560",2012,NG-445723,9663ece8-2a97-4a9a-80d2-9a005c5049db,https://buy.cars45.com/cars/ford-focus-2012-au...
43,D,2007 Nissan Xterra,Foreign Used,"1,496,000","239,410",2007,NG-445672,Mainland 2,https://buy.cars45.com/cars/nissan-xterra-2007...
44,C,2006 Toyota Corolla,Nigerian Used,"891,000","218,487",2006,NG-445472,Mainland 1,https://buy.cars45.com/cars/toyota-corolla-200...
45,C,2011 Honda Accord,Nigerian Used,"2,211,000","179,087",2011,NG-445713,Abuja -,https://buy.cars45.com/cars/honda-accord-2011-...
46,E,2009 Chevrolet Optra,Nigerian Used,"346,500","151,634",2009,NG-445655,Island -,https://buy.cars45.com/cars/chevrolet-optra-20...
47,D,2003 Toyota Highlander,Nigerian Used,"1,001,000","180,861",2003,NG-445543,Port Harcourt,https://buy.cars45.com/cars/toyota-highlander-...
48,C,2007 Toyota Avalon,Nigerian Used,"891,000","178,313",2007,NG-445687,Mainland 1,https://buy.cars45.com/cars/toyota-avalon-2007...
49,C,2010 Toyota Matrix,Nigerian Used,"2,211,000","126,929",2010,NG-445787,Mainland 1,https://buy.cars45.com/cars/toyota-matrix-2010...
50,E,2001 Nissan Pathfinder,Nigerian Used,"561,000","173,398",2001,NG-445811,Mainland 2,https://buy.cars45.com/cars/nissan-pathfinder-...
51,D,1996 Honda Civic,Nigerian Used,"341,000","193,908",1996,NG-445803,Mainland 1,https://buy.cars45.com/cars/honda-civic-1996-a...
52,C,2007 Toyota Camry,Nigerian Used,"1,441,000","139,963",2007,NG-445748,Mainland 1,https://buy.cars45.com/cars/toyota-camry-2007-...
53,E,2012 Toyota Corolla,Nigerian Used,"1,771,000","155,622",2012,NG-445380,Onitsha -,https://buy.cars45.com/cars/toyota-corolla-201...
54,C,2009 Mercedes-Benz C300,Nigerian Used,"1,771,000","111,377",2009,NG-445608,Onitsha -,https://buy.cars45.com/cars/mercedes-benz-c300...
55,C,2010 Toyota Corolla,Nigerian Used,"2,431,000","444,302",2010,NG-445743,Abuja -,https://buy.cars45.com/cars/toyota-corolla-201...
56,C,2005 Lexus Es,Foreign Used,"2,541,000","71,206",2005,NG-445722,Benin -,https://buy.cars45.com/cars/lexus-es-2005-auto...
57,C,2015 Dodge Journey,Nigerian Used,"2,211,000","21,878",2015,NG-445462,Mainland 1,https://buy.cars45.com/cars/dodge-journey-2015...
58,E,2015 Toyota Highlander,Nigerian Used,"5,511,000","2,084",2015,NG-445729,Island -,https://buy.cars45.com/cars/toyota-highlander-...
59,E,2002 Toyota Sienna,Nigerian Used,"891,000","135,115",2002,NG-445388,Kaduna SNB,https://buy.cars45.com/cars/toyota-sienna-2002...

In [ ]:
if Sold in :
    New condition